*~
Makefile
Makefile.in

/.exrc
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/ChangeLog.bak
/compile
/config.guess
/config.log
/config.log
/config.rpath
/config.rpath
/config.status
/config.status
/config.sub
/configure
/depcomp
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/po/*.gmo
/po/Makevars.template
/po/POTFILES
/po/stamp-it
